body {
  background-image: url("../img/background_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Lobster", cursive;
}

#create-form {
  display: block;
  text-align: center;
}

#add-burger-title {
  text-align: center;
}

.display-database {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
}

li {
  padding: 10px 0 10px 20px;
}

#main-title {
  text-align: center;
}

li {
  background-color: rgb(255, 81, 0);
  margin-bottom: 10px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.devour-it {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: rgb(255, 203, 134);
}
