body {
  background-image: url("../img/background_image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: "Lobster", cursive;
}

#create-form {
  display: block;
  text-align: center;
}

#add-burger-title {
  text-align: center;
}

.display-database {
  text-align: center;
}

ul {
  display: inline-block;
  text-align: left;
  list-style: none;
}

#main-title {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  text-shadow: 2px 2px 5px red;
}

.database-title {
  text-shadow: 2px 2px 5px red;
}

li {
  background-color: rgb(255, 81, 0);
  margin-bottom: 10px;
  border-radius: 25px;
  padding: 10px 0 10px 20px;
}

.devour-it {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: rgb(255, 203, 134);
}

.delete-it {
  float: right;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: rgb(255, 203, 134);
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#burgername {
  border-radius: 25px;
  padding-left: 10px;
}

#submit-btn {
  border-radius: 25px;
  font-size: 22px;
  margin-bottom: 20px;
}
